.progress {
    transform-origin: 0% 0%;
    margin: 30px 3px;
    background: #F58613;
    transform: scaleX(0);
    height: 24px;
    width: 790px;
    margin-bottom: 33px;
    transition: transform 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
.threeScore {
    display: flex;
}

.threeText {
    width: 20%;
}
.threeText p {
    margin: 20px 0px;
    height: 20px;
}

.threeBar {
    width: 60%;
}
.threeInt {
    width: 10%;
}
.sureline {
    width: 1200px;
    height: 4px;
    margin-top: 5px;
    background-color: #C2D1CA;
    margin-bottom: 80px;
}
.scoreimg {
    cursor: pointer;
}