.progress {
    transform-origin: 0% 0%;
    margin: 28px 3px;
    background: #F58613;
    transform: scaleX(0);
    height: 20px;
    width: 550px;
    margin-bottom: 37px;
    transition: transform 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
.threeScore {
    display: flex;
}

.threeText {
    width: 17%;
}
.threeText p {
    margin: 20px 0px;
    height: 20px;
}

.threeBar {
    width: 60%;
}
.threeInt {
    width: 9.5%;
}
.sureline {
    width: 1000px;
    height: 4px;
    background-color: #C2D1CA;
    margin-bottom: 80px;
}
.scoreimg {
    cursor: pointer;
}