.radarInsure {
    width: 600px;
    margin-top: 80px;
    margin-left: 200px;
}
.radarBox {
    width: 1000px;
    padding-left: 30px;
    padding-top: 80px;
}
.fontFirst {
    font-size: 22px;
    font-weight: 600;
    color: #7A8982;
    margin-bottom: 4px;
}
.fontSecond {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 8px;
}