.radarInsure {
    width: 500px;
    margin-top: 80px;
    margin-left: 120px;
}
.radarBox {
    width: 1000px;
    padding-left: 30px;
    padding-top: 40px;
}
.fontFirst {
    font-size: 20px;
    font-weight: 600;
    color: #7A8982;
    margin-bottom: 4px;
}
.fontSecond {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 8px;
}