.survey{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 1000px;
  top: 25rem;
}
.run {
  background-color: #f4aa41;
  margin-bottom: 10px;
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 10px; 
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.run:hover {
  color: #ffffff;
  opacity: 0.85;
  box-shadow: 3px 3px 5px #d7d7d7;
}
.mainbox{
  background-color: #f0f0f0;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

}
hr{ 
  background-color: black;
  margin-top: 1rem;
  width: 80%;
  height: 2px;
}
.rectext {
  font-weight: bold;
  font-size: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.ip {
  width: 220px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #dbdbdb;
  border: none;
}
.ip::placeholder {
  color: #dbdbdb;
}
.subbtn {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #f4aa41;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 3px #d7d7d7;
  margin-top: 1.5rem;
}
.subbtn:hover {
  color: #ffffff;
  opacity: 0.85;
  box-shadow: 3px 3px 5px #d7d7d7;
}
