.width_max {
    width : 1100px;
    margin-left: 50px;
}

.td_bgcolor_border_top_yellow {
    background-color: #C2D1CA;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #f4aa41;
}

.basic_special_td_fontsize_padding {
    padding : 5px 0px;
    font-size: 20px;
    font-weight: bolder;
}

.basic_td_middle {
    font-size: 18px;
    font-weight: bold;
}

.h1_padding_bolder {
    font-size: 48px;
    font-weight: bolder;
    padding : 5px 0 30px 0;
    margin : 0;
    margin-left: 50px;
}

.h1_fontcolor_yellow {
    color:#f58613;
}

.h5_grey_font {
    color:#7a8982;
    font-size: 24px;
    margin-top: 120px;
    padding-left: 50px;
}
.sureline {
    width: 1200px;
    height: 4px;
    margin-top: 5px;
    background-color: #C2D1CA;
    margin-bottom: 80px;
}