button {
  }
  .on {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: yellow;
  }
  .off {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
  }