button {
  }
  .on {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffd600;
  }
  .off {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ccc;
  }
.star{
  font-size: 24px;
}