.item_img {
    display: flex;
    justify-content: center;
    width: 300px;
    display: flex;
    align-items: center;
}

.item_tag {
    display: flex;
    justify-content: space-around;
}
.sureline {
    width: 800px;
    height: 4px;
    margin-top: 5px;
    background-color: #C2D1CA;
    margin-bottom: 80px;
}
.width_max {
    width : 100%;
}

.td_bgcolor_border_top_yellow {
    background-color: #C2D1CA;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #f4aa41;
}

.basic_special_td_fontsize_padding {
    padding : 5px 0px;
    font-size: 20px;
    font-weight: bolder;
}

.basic_td_middle {
    font-size: 18px;
    font-weight: bold;
}

.h1_padding_bolder {
    font-weight: bolder;
    padding : 5px 0 30px 0;
    margin : 0;
}

.h1_fontcolor_yellow {
    color:#f58613;
}

.h5_grey_font {
    color:#7a8982;
}



.table_padding_1rem {
    padding : 0 3em;
}

.table_recom_product_text {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bolder;
}

.width_max {
    width : 800px;
}