.card {
  padding: 15px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 6px 25px 0 rgba(161, 161, 161, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 40px;
}

.basiclogo {
  margin-top: 20px;
  height: 48px;
  margin-bottom: 10px;
}

.basicname {
  font-size: 20px;
  font-weight: 650;
  margin-bottom: 30px;
}

.basiccontents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  font-size: 15px;
  border-bottom: 1px solid #DFDFDF;
}

.basicleft {
  font-weight: 600;
}

.basictitle {
  margin-bottom: 10px;
}

.basicright {
  text-align: right;
  font-weight: 500;
}

.basicsub {
  margin-bottom: 10px;
}

.basicfee {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  margin-top: 15px;
}

.basicfee > p {
  font-size: 20px;
}

.basicbtn {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 200px;
  height: 40px;
  background-color: #F4AA41;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-weight: 600;
}

.basicbtn:hover {
  opacity: 85%;
}