.landingFour {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: url('../../images/back5.png');
  background-size: cover;
}

.landingFour > button {
  cursor: pointer;
  background-color: #5E35B1;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 8px 5px -5px rgba(191, 189, 189, 0.5);
  font-weight: 600;
  width: 20rem;
}

.landingFour > button:hover {
  color: #ffffff;
  opacity: 0.85;
}

/* button {
  color: #ffffff;
  opacity: 0.85;
} */