.landingSection {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
}

.landingSection.tall {
  height: 110vh;
}

.background {
  position: absolute;
  width: 100%;
  height: inherit;
  /* clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%); */
}

.blur {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.wrapper.inverted {
  color: white;
}

.wrapper.center {
  justify-content: center;
}

.wrapper.center > .contents {
  align-items: center;
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper:not(.center) .contents.right {
  text-align: right;
  align-items: flex-end;
}

.newLine {
  white-space: pre-wrap;
}

.title {
  line-height: 125%;
}

.description {
  line-height: 150%;
}

.action {
  width: 128px;
}

/* .back1 {
  background: url('../../images/talk1.jpg');
  background-size: cover;
} */

/* .back2 {
  background: url('../../images/talk6.jpg');
  background-size: cover;
} */

.last {
  clip-path: none;
  -webkit-clip-path: none;
  background: linear-gradient(to bottom, white, var(--color-grey-300));
}