.mainbox {
    justify-content: center;
    display: flex;
}
.insureCard {
    width: 1000px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    display:flex;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #d7d7d7;
    margin: 2rem;
}
.name {
    font-size: 24px;
    font-weight: bold;
}
.insure_logo {
    display: flex;
    justify-content: center;
    width: 180px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}
.titleBadge {
    /* padding-left: 40px; */
    width: 280px;
}
.detailButton {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #F4AA41;
    border: 1px solid #F4AA41;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
}
.detailButton:hover {
    color: #ffffff;
    opacity: 0.85;
    box-shadow: 3px 3px 5px #d7d7d7;
}
  
.compareButton {
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid #F4AA41;
    border-radius: 10px;
    font-size: 20px;
    color: #f4aa41;
    margin-top: 1rem;
}
.removeButton {
    width: 150px;
    height: 40px;
    background-color: #F4AA41;
    border: 1px solid #F4AA41;
    font-size: 20px;
    color: white;
    margin-top: 1rem;
    opacity: 0.5;border-radius: 10px;
}
.compareButton:hover {
    background-color: #F4AA41;
    color: white;
    opacity: 0.5;
    box-shadow: 3px 3px 5px #d7d7d7;
}
.removeButton:hover {
    background-color: white;
    color: #f4aa41;
    opacity: 0.5;
    box-shadow: 3px 3px 5px #d7d7d7;
}
.compare {
    position: fixed;
    bottom: 0;
    width: 80%;
}

.compareCard {
    margin: 0 auto;
    display: flex;
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    width: 900px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgba(255, 237, 191, 0.8);
}

.compare_logo {
    width: 160px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.dialog_content {
    display: flex;
}

.compare_chart {
    width: 500px;
    height: 300px;
}

.colDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-right: 3rem;
}
.rowDiv {
    display: flex;
    align-items: flex-end;
}
.feetext {
    font-size: 18px;
    font-weight: bold;
    color: #838383;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.covbox{
    margin-top: 1rem;
    display: flex;
}
.covtext {
    font-size: 18px;
    font-weight: bold;
    color: #838383;
    padding-right: 1rem;
}
.covdiv {
    width: 180px;
    column-count: 2;
}
.badge {
    margin-bottom: 1rem;
    height: 36px;
    line-height: 36px;
    width: 80px;
    text-align: center;
    background-color: #F0B622;
    border-radius: 10px;
  }
.badgetext {
    color: white;
    display: flex;
    justify-content: center;
}

.top_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_topcard {
    inset-inline-start: 400px;
}
.styledTable {
    border-collapse: collapse;
    border: 2px #838383;
    /* border-radius: 15px; */
    margin: 30px 30px;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 910px;
}
.styledColumn {
    background-color: #838383;
    color: #ffffff;
    line-height: 40px;
}
.styledTable div{
    line-height: 40px;
}
.styledTable td {
    line-height: 40px;
}
.calcCompare {
    margin-left: 3.5%;
    width: 900px;
    height: 280px;
    border: 4px #838383;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-bottom: 50px;
    border-radius: 15px;
}
.calcResult {
    width: 700px;
    height: 134px;
    border: 4px #838383;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #F7F7F7;
    border-radius: 15px;
    margin: auto;
    margin-top: 28px;
}
.bar {
    background-color: #f4aa41;
    height: 5px;
    width: 450px;
}
.recbox {
    margin-left: 80px;
}
.compareBox {
    margin: 1rem;
    width: 180px;
    height: 72px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 3px 3px 5px #d7d7d7; */
}
.compareBtn {
 background-color: #F4AA41;
 color: white;
 height: 40px;
 width: 110px;
 border: none;
 border-radius: 10px;
 margin-right: 1.5rem;
}
.compareBtn:hover {
    background-color: white;
    color: #f4aa41;
    opacity: 0.7;
}
.lBox {
    display: flex;
    flex-direction: row;
}