.ribbonshit {
  padding-top: 40px;
}

.realall {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.all {
  display: flex;
  flex-direction: row;  
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;  
}

.radio {
  visibility:hidden;
}

.sqaure {
  background-color: #F0F0F0;
  border-radius: 8px;
  border-style: none;
  height: 35px;
  width: 293px;
  margin-left: 13px;
  margin-top: 20px;
  padding:  5px 5px 5px 15px;
}

.sqaure1 {
  background-color: #F0F0F0;
  border-radius: 8px;
  border-style: none;
  height: 35px;
  width: 293px;
  margin-left: 13px;
  margin-top: 20px;
  padding:  5px 5px 5px 15px;
}

.sqaure:focus {
  outline: 0;
  border-color: rgb(171, 171, 171) !important;
  box-shadow: inset rgb(129, 120, 161) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em !important;
}

.selectimg {
  cursor: pointer;
  transform: scale(1.0); /* 이미지 확대 */
  transition: transform .5s; /* 시간 설정 */
}

.selectimg:hover{
  transform: scale(1.03);   /* 이미지 확대 */
  transition: transform .5s;  /* 시간 설정 */
}

.selectimg > input[type=radio]:checked + img {
  /* border: 3px solid ; */
  border-radius: 18px;
  box-shadow: rgb(255, 135, 15) 0px 0px 0.25em, rgba(255, 205, 131, 0.57) 0px 0.25em 1em;
}

select {
  margin-top: 10px;
  margin-left: 6px;;
  /* width: 260px; */
  height: 195px;
}

select:focus {
  border-color: rgb(171, 171, 171) !important;
  box-shadow: inset rgb(171, 171, 171) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em !important;
}

.form-select {
  font-size: 1.1rem;
}
 option {
  padding: 4px;
 }

.btn {
  cursor: pointer;
  margin-top: 30px;
  width: 224px;
  height: 40px;
  background-color: #ee9325;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-weight: 600;
}

/* .btn:hover {
  color: #ffffff;
  opacity: 0.85;
} */

.btn:disabled,
.btn[disabled]{
  cursor: default;
  background-color: #ffc8a0;
  color: #ffffff;
}
/* 
.btn:disabled:hover,
.btn[disabled]:hover {
  background-color: #ffc8a0;
  color: #ffffff;
} */