:root {
  /* 색상 변수 */
  --color-primary: #49c288;
  --color-secondary: #5778ec;
  --color-vip: #6e29ff;
  --color-success: #1a9459;
  --color-caution: #f0b622;
  --color-error: #de2727;
  --color-grey-900: #323835;
  --color-grey-500: #7a8982;
  --color-grey-300: #b2b8bc;
  --color-grey-200: #c2d1ca;
  --color-grey-100: #f0f0f0;

  /* 길이 변수 */
  --header-height: 6rem;
  --signup-form-width: 384px;
}

html,
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

/* 폰트 크기 및 굵기 */
.display {
  font-size: 48px;
  font-weight: 600;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.small {
  font-size: 12px;
  font-weight: 500;
}

.margin_small {
  margin: 2rem;
}

.margin_middle {
  margin: 5rem;
}

.margin_big {
  margin: 8rem;
}


/* 가로형 레이아웃 */
.flex_row {
  display: flex;
  flex-direction: row;
}

/* 세로형 레이아웃 */
.flex_column {
  display: flex;
  flex-direction: column;
}

/* 가로형 레이아웃 가운데 정렬 */
.flex_row_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 가로형 레이아웃 가운데 정렬 */
.flex_row_center_topgap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.flex_row_space_evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex_row_space_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.width_150vw {
  width: 150vw;
}

.width_50vw {
  width: 50vw;
}

.width_30vw {
  width: 20vw;
}
