.infocard {
    max-width: 800px;
    background-color: #FFF9F5;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    border-color: bisque;
    box-shadow: rgba(255, 183, 136, 0.16) 0px 1px 3px 0px, rgba(255, 155, 55, 0.15) 0px 0px 0px 1px;
}


.infotitle {
    font-size: 28px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
} 

.infocontent {
    font-size: 16px;
}

.dsname {
    color: red;
    font-weight: 700;
}