.HeaderBanner {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(to right, #f58613, #e97a34);
  color: white;
  height: 200px;
  font-size: 30px;
  margin: auto;
}

.title {
  font-size: 2.3rem;
  /* margin: 1rem 0; */
  margin-bottom: 10px;
  animation: fadein 3s;
}

.subtitle {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; 
}
  to   { opacity: 1; }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

