/* .headerNav {
  height: var(--header-height);
  display: flex;
  align-items: flex-end;
  z-index: 10;
  padding: 0 4rem 0.5rem;
}

.auth {
  padding: 0 2rem 0.5rem;
}

.navWrapper {
  width: 100%;
  height: calc(var(--header-height) * 2 / 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderNav_link_btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.HeaderNav_brand {
  cursor: pointer;
  font-weight: 600;
}

.hover_color *:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.profileImageContainer {
  position: relative;
} */