.HeaderNav_fixed {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  padding: 1rem 1rem;
  gap: 2rem;
}

.HeaderNav_nav {
  display: flex;
  width: 100%;
  z-index: 10;
  padding: 1rem 1rem;
  gap: 2rem;
}

.HeaderNav_link_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderNav_brand_white {
  cursor: pointer;
  color: #ffffff;
  font-weight: 300;
}

.HeaderNav_brand_black {
  cursor: pointer;
  color: #000000;
  font-weight: 300;
}

.hover_color *:hover {
  cursor: pointer;
  color: var(--color-primary);
}
