.menuItem {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.25rem 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.15s;
}

.active {
  border-bottom: 3px solid var(--color-primary);
}

.warning {
  color: var(--color-error);
}

.warning.active {
  border-bottom: 3px solid var(--color-error);
}