.sheet {
  background-color: white;
  box-shadow: 3px 3px 5px #d7d7d7;
  border-radius: 10px;
}

.sheet.badge {
  margin-bottom: 1rem;
  height: 36px;
  line-height: 40px;
  width: 80px;
  text-align: center;
  background-color: #F0B622;
  color: white;
}

.sheet.small {
  padding: 1rem;
}

.sheet.medium {
  padding: 2rem;
}

.sheet.medium_large {
  padding: 3rem;
}

.sheet.large {
  padding: 4rem;
}

.sheet.shallow {
  box-shadow: 3px 3px 5px #d7d7d7;
}