.sheet {
  background-color: white;
  box-shadow: 0 6px 25px 0 rgba(161, 161, 161, 0.25);
  border-radius: 1rem;
  position: relative;
}

.sheet.badge {
  padding-left: 13.5px;
  padding-right: 13.5px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #F0B622;
  color: white;
}

.sheet.small {
  padding: 1rem;
}

.sheet.medium {
  padding: 2rem;
}

.sheet.medium_large {
  padding: 3rem;
}

.sheet.large {
  padding: 4rem;
}

.sheet.shallow {
  box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.25);
}