.welcome_picture {
    position: relative;
    width: 50vw;
    height: 100vh;
}

.image {
    width: inherit;
    height: inherit;
    position: absolute;
    object-fit: cover;
}

.back_drop {
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 10rem;
    padding: 10rem 5rem;
}

.title {
    font-size: 2.3rem;
    margin: 1rem 0;
}